.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.headercontent a {
    margin-right: 40px;
    margin-left: 40px;
    color: white;
    text-decoration: none;
}


.top{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 70px;
}

.top p{
    margin-top: 30px;
}

.contentbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.content{
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.subject{
    margin-bottom: 100px;
}

.item{
    width: 250px;
}

.answer{
    width: 300px;
    font-size: 18px;
}

.footer{
    text-align:center ;
    background: black;
    color: white;
    font: 30px;
    margin-top: 140px;
    height: 90px;
}

.footertext{
    padding-top: 30px;
    padding-bottom: 30px;
}

